<header>
    <span>
        <h3>Logo</h3>
    </span>
    <span class="search-bar-container">
        <input type="text" name="seach-bar" id="search-bar" placeholder="Search" >
        <button class="search-button">S</button>
    </span>
    <ul class="header-links">
        <li class="header-link">
            <a class="link" href="">Home</a>
        </li>
        <li class="header-link">
            <a class="link" href="">Profile</a>
        </li>
        <li class="header-link">
            <a class="link" href="">About</a>
        </li>
    </ul>
</header>